.barra-e-botao {
    display: flex;
    align-items: center;
    gap: 10px;
}

#accessibility-bar {
    width: fit-content;
    color: #ccc;
    text-align: center;
    border-radius: 10px;
    background-color: #ccc;
    
}

#ativa-barra {
    width: 40px;                 /* Defina a largura do círculo */
    height: 40px;                /* Defina a altura igual à largura para manter o formato circular */
    border-radius: 50%;          /* Faz o botão ficar circular */
    border: none; 
    font-size: 20px;               /* Remove a borda padrão do botão */
    background-color: #ccc;
    border: 2px solid #ccc;   /* Cor de fundo */
    color: #fffce0;                /* Cor do ícone */
    display: flex; 
    text-align: center;              /* Usa flexbox para centralizar o ícone */
    align-items: center;         /* Centraliza verticalmente */
    justify-content: center;     /* Centraliza horizontalmente */
    cursor: pointer;             /* Muda o cursor para indicar que é clicável */
    transition: background-color 0.3s; /* Animação suave na mudança de cor */
}

#ativa-barra:hover {
    background-color: transparent;
    color: #ccc;
}

#accessibility-bar button {
    background-color: white;
    color: #555;
    border: none;
    padding: 8px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Poppins";
    font-weight: 600;
    transition: 0.2s all ease;
    border: 2px solid #ccc;
}

#accessibility-bar button:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

/* Estilos de alto contraste */
.high-contrast, .high-contrast * {
    background-color: black !important;
    color: yellow !important;
}

.high-contrast button {
    border: 2px solid yellow!important;
}

.high-contrast .menu-item-notifications {
    border: 0!important;
}

.high-contrast .config-conta h3 {
    border-bottom: 2px solid yellow!important;
}

.high-contrast .right-menu, .high-contrast .right-menu-configuracoes {
    box-shadow: yellow 0px 1px 3px 0px, yellow 0px 0px 0px 1px!important;
    overflow: hidden!important;
}

.high-contrast .config-conta select {
    border: 2px solid yellow!important;
}

.high-contrast .search-bar {
    color: yellow!important;
    border: 2px solid yellow!important;
}

.high-contrast input::placeholder {
    color: yellow!important;
}

.high-contrast .left-menu {
    box-shadow: yellow 0px 1px 3px 0px, yellow 0px 0px 0px 1px!important;
}

.high-contrast .create-post textarea::placeholder {
    color: yellow!important;
}

.high-contrast .create-post {
    box-shadow: yellow 0px 1px 3px 0px, yellow 0px 0px 0px 1px!important;
}

.high-contrast .create-post select {
    border: 2px solid yellow!important;
}

.high-contrast .tags .tag {
    box-shadow: none;
}

.high-contrast .toggle-button {
    border: 2px solid yellow!important;
} 

.high-contrast .pfp-post, .high-contrast .ftperfil {
    border: 2px solid yellow!important;
}

.high-contrast .notification-panel {
    border: 2px solid yellow!important;
    overflow: hidden!important;
}

.high-contrast .toggle-button.active {
    background-color: yellow!important;
    color: black!important;
    border: 2px solid yellow!important;
}

.high-contrast .post, .high-contrast .visualiza-perfil, .high-contrast .config-conta {
    box-shadow: yellow 0px 1px 3px 0px, yellow 0px 0px 0px 1px!important;
}

.high-contrast .visualiza-perfil .menu-publicacoes {
    border-top: 2px solid yellow;
}

.high-contrast .modal {
    background-color: rgba(255, 255, 0, 0.288)!important;
}

.high-contrast .modal-content {
    border-radius: 5px!important;
    overflow: hidden!important;
}

.high-contrast .modal-content .profile-picture-container {
    border: 2px solid yellow!important;
}

  /* Estilo da "alavanca" do toggle */
.high-contrast .toggle-label {
    background-color: rgba(255, 255, 0, 0.281)!important;
}
  
/* Alavanca interna */
.high-contrast .toggle-label::before {
    
    background-color: black!important;
    
}
  
/* Estilo quando o toggle estiver ativado */
.high-contrast .toggle-checkbox:checked + .toggle-label {
    background-color: yellow!important; /* Cor quando ativo */
}

/* Estilos de baixo contraste */
.low-contrast, .low-contrast * {
    background-color: #f0f0f0 !important;
    color: #333 !important;
}

.low-contrast button {
    border: 2px solid #ccc!important;
}

.low-contrast .menu-item-notifications {
    border: 0!important;
}

.low-contrast .config-conta h3 {
    border-bottom: 2px solid #ccc!important;
}

.low-contrast .right-menu, .low-contrast .right-menu-configuracoes {
    box-shadow: #ccc 0px 1px 3px 0px, #ccc 0px 0px 0px 1px!important;
    overflow: hidden!important;
}

.low-contrast .config-conta select {
    border: 2px solid #ccc!important;
}

.low-contrast .search-bar {
    color: #ccc!important;
    border: 2px solid #ccc!important;
}

.low-contrast input::placeholder {
    color: #555!important;
}

.low-contrast .left-menu {
    box-shadow: #ccc 0px 1px 3px 0px, #ccc 0px 0px 0px 1px!important;
}

.low-contrast .create-post textarea::placeholder {
    color: #555!important;
}

.low-contrast .create-post {
    box-shadow: #ccc 0px 1px 3px 0px, #ccc 0px 0px 0px 1px!important;
}

.low-contrast .create-post select {
    border: 2px solid #ccc!important;
}

.low-contrast .tags .tag {
    box-shadow: none;
}

.low-contrast .toggle-button {
    border: 2px solid #ccc!important;
} 

.low-contrast .pfp-post, .low-contrast .ftperfil {
    border: 2px solid #ccc!important;
}

.low-contrast .notification-panel {
    border: 2px solid #ccc!important;
    overflow: hidden!important;
}

.low-contrast .toggle-button.active {
    background-color: #ccc!important;
    color: black!important;
    border: 2px solid #ccc!important;
}

.low-contrast .post, .low-contrast .visualiza-perfil, .low-contrast .config-conta {
    box-shadow: #ccc 0px 1px 3px 0px, #ccc 0px 0px 0px 1px!important;
}

.low-contrast .visualiza-perfil .menu-publicacoes {
    border-top: 2px solid #ccc;
}

.low-contrast .modal {
    background-color: rgba(94, 94, 94, 0.288)!important;
}

.low-contrast .modal-content {
    border-radius: 5px!important;
    overflow: hidden!important;
}

.low-contrast .modal-content .profile-picture-container {
    border: 2px solid #ccc!important;
}

  /* Estilo da "alavanca" do toggle */
.low-contrast .toggle-label {
    background-color: rgba(94, 94, 94, 0.288)!important;
}
  
/* Alavanca interna */
.low-contrast .toggle-label::before {
    
    background-color: black!important;
    
}
  
/* Estilo quando o toggle estiver ativado */
.low-contrast .toggle-checkbox:checked + .toggle-label {
    background-color: #555!important; /* Cor quando ativo */
}

.low-contrast .menu-container .dropdown-menu button {
    border: none!important;
}

.high-contrast .menu-container .dropdown-menu button {
    border: none!important;
}

.high-contrast .menu-container .dropdown-menu {
    box-shadow: yellow 0px 1px 3px 0px, yellow 0px 0px 0px 1px!important;
}

.low-contrast .menu-container .dropdown-menu {
    box-shadow: #ccc 0px 1px 3px 0px, #ccc 0px 0px 0px 1px!important;
}