@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Varela+Round&display=swap');


/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fffce0;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: transparent;
    transition: transform 0.3s ease-in-out;
    height: 60px;
}


.navbar.hidden {
    transform: translateY(-100%); /* Esconde a navbar movendo-a para cima */
}

.navbar .logo {
    font-family: "Varela Round";
    color: #ac689e;
    font-size: 15px;
    margin-left: 1rem;
    margin-top: 0.5rem;
}



.navbar img {
    width: 2rem;
    margin-left: 5rem;
}

.navbar .search-bar {
    display: flex;
    justify-content: space-between;
    
    color: #837373;
    background-color: #efc5c5;
    border-radius: 20px;
    padding: 12px;
    
}

.navbar input[type="text"] {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 4px;
    background-color: transparent;
    margin-left: 5px;
    border: none;
    border-radius: 20px;
    width: 270px;
    outline: none;
}

.container {
    display: flex;
    margin-top: 60px; /* To adjust for the fixed navbar */
    overflow: hidden;          /* Remove as barras de rolagem */

    
}

.left-menu, .right-menu {
    width: 20%;
    margin-top: 1rem;
    background-color: #fff;
    position: sticky;
    top: 60px; /* Fixed positioning relative to navbar */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
    
}

.left-menu {
    box-shadow: #e2da9e 0px 7px 29px 0px;
    border-bottom-right-radius: 20px;
}

.left-menu button {
    border: 0;
    background-color: white;
}

.left-menu button:hover {
    background-color: #f3f3f3;
}

.menu-item-notifications {
    color: #555;
    font-size: 13px;
    display: flex;
    font-family: "Poppins";
    align-items: center;
    height: 4rem;
    cursor: pointer;
    transition: 300ms ease all;
    width: 100%; 
    padding-left: 20px;
}

.menu-item-notifications i {
    margin-right: 1rem;
}

/* Caixa de Notificações */
.notification-panel {
    display: none;
    border-radius: 20px;
    margin-top: 5rem;
    font-family: "Poppins";
    font-size: 13px;
    font-weight: 600;
    color:#555;
    position: fixed;
    top: 0;
    width: 300px;
    background-color:white;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    
}

.notification-panel.active {
    top: 5rem;
    left: 18rem; /* Quando ativo, mova o painel para dentro da tela */
}

/* Inicialmente, o painel está escondido */
.notification-panel {
    opacity: 0;
    display: none;
    transition: opacity 0.1s ease; /* Animação suave de 0.3 segundos */
}

/* Quando o painel está visível */
.notification-panel.show {
    display: block; /* Mostra o painel */
    opacity: 1;     /* Define a opacidade para 100% */
}


.notification-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #dddbda;
}

.notification-header h2 {
    margin: 0;
    font-size: 18px;
}

.notification-header .close-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.notification-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.notification-list li {
    padding: 15px;
}

.notification-list li:hover {
    background-color: #f9f9f9;
}

.notif {
    display: flex;
}

.notif img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.right-menu {
    background-color: #fdf7c9;
    box-shadow: #fff9c8 0px 30px 60px -12px inset, #fdf7c9 0px 18px 36px -18px inset;
    border-bottom-left-radius: 20px;
}

.main-content {
    overflow: auto;   /* Garante que o conteúdo role corretamente */
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    height: calc(100vh - 60px);
}

.create-post {
    
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: #e2da9e 0px 7px 29px 0px;
    height: fit-content;
}

.create-post .descricaopost {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#555;
    width: 100%;
    height: 80px;
    padding: 10px;
    margin-bottom: 10px;
    resize: none;       /* Remove a possibilidade de redimensionar */
    border: none;       /* Remove a borda */
    box-shadow: none;   /* Remove sombras ao focar (se houver) */
    outline: none;    
    border-radius: 10px; 
}

.create-post .descricaopost:focus {
    background-color: #ffd8d84b;
}

.preview-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.preview-image, .preview-video {
    width: 100%;
    border-radius: 10px;
    max-height: 300px;
    object-fit: contain;
}

.titulopost {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    background-color: #f3f3f38f;
    resize: none;       /* Remove a possibilidade de redimensionar */
    border: none;       /* Remove a borda */
    box-shadow: none;   /* Remove sombras ao focar (se houver) */
    outline: none;  
    border-radius: 10px;
}

.create-post button {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 15px;
    background-color: #ffa500;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.post {
    height: fit-content;
    display: grid;
    grid-template-rows: 10% auto 10%;
    font-family: "Varela Round";
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: #e2da9e 0px 7px 29px 0px;
    
}



.perfil-post {
    font-family: "Poppins";
}

.post-header {
    display: grid;
    grid-template-columns: 60px auto 60px;
}

.conteudo-principal {
    display: block;
    margin-top: 1rem;
    height: fit-content;
    
}

.conteudo-principal .titulo {
    margin-bottom: 1rem;
}

.data-post {
    font-size: 13px;
    color: #858585;
}

.midia {
    margin-bottom: 1rem;
    background-color: #555;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    height: 300px;            /* Certifique-se de que a altura da div esteja definida */
}

.imagem-post {
    width: 100%;
    height: 100%;
    object-fit: contain;       /* A imagem se ajusta à div sem cortar, mantendo a proporção */
}


.post h3 {
    margin-bottom: 10px;
}

.conteudo-principal, .perfil-post {
    color: #555;
    font-family: "Poppins";
    font-size: 14px;
}

.post-footer {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.menu-container {
    position: relative; /* Garante que o dropdown seja posicionado corretamente */
}

.menu-button {
    position: relative;
    margin-top: 5px;
    width: 40px;                 /* Defina a largura do círculo */
    height: 40px;                /* Defina a altura igual à largura para manter o formato circular */
    border-radius: 50%;          /* Faz o botão ficar circular */
    border: none;                /* Remove a borda padrão do botão */
    background-color: white;   /* Cor de fundo */
    color: #555;                /* Cor do ícone */
    display: flex;               /* Usa flexbox para centralizar o ícone */
    align-items: center;         /* Centraliza verticalmente */
    justify-content: center;     /* Centraliza horizontalmente */
    cursor: pointer;             /* Muda o cursor para indicar que é clicável */
    transition: background-color 0.1s; /* Animação suave na mudança de cor */
}

.menu-button:hover {
    background-color: rgb(241, 241, 241);   /* Cor de fundo ao passar o mouse */
}

.menu-button i {
    font-size: 18px;             /* Tamanho do ícone */
}

.dropdown-menu {
    display: none; /* Esconde o menu até que o botão seja clicado */
    position: absolute; /* Para posicioná-lo em relação ao botão */
     /* Faz o menu aparecer diretamente abaixo do botão */
    right: 0; /* Alinha o menu à esquerda do botão */
    background-color:#ececec;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 100; /* Garante que o menu esteja acima de outros elementos */
    width: fit-content;
    font-size: 13px;
    font-family: "Poppins";
    font-weight: 600;
    color:#555;
}

/* Mostra o menu quando a classe "show" é adicionada */
.dropdown-menu.show {
    display: block;
}

/* Estilo das opções do menu */
.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu ul li:last-child {
    margin-bottom: 0;
}

.dropdown-menu ul li a {
    text-decoration: none;
    color: #333;
    padding: 8px 16px;
    display: block;
    border-radius: 3px;
    transition: background-color 0.2s;
}

.dropdown-menu ul li a:hover {
    background-color: #e6e6e6;
}

.pfp-post {
    width: 50px;                /* Tamanho do contêiner da PFP */
    height: 50px;               /* Altura igual à largura para ser quadrado/circular */
    border-radius: 50%;         /* Torna o contêiner circular */
    overflow: hidden;           /* Garante que a imagem não ultrapasse os limites do círculo */
    display: flex;              /* Flexbox para centralizar a imagem */
    align-items: center;        /* Centraliza verticalmente */
    justify-content: center;    /* Centraliza horizontalmente */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);  /* Sombra leve */
}

.pfp {
    width: 100%;                /* Faz a imagem ocupar 100% do contêiner */
    height: 100%;               /* Mantém a proporção da imagem */
}

.encontrei {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 15px;
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid #ff4081;
}

.encontrei:hover {
    background-color: transparent;
    border: 2px solid #ff4081;
    transition: all ease 0.2s;
    color: #ff4081;
}

.tp_publicacao, .tag-item {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    border: solid 2px;
    color:#555;
    width: fit-content;
    font-size: 0.8rem;
}

.tag-item {
    background-color: #c0f173;
    border: solid 2px #c0f173;
}

.tag-item i {
    margin-right: 5px;
}

aside {
    overflow: hidden;
    padding-top: 20px;
}

aside .menu-item {
    color: #555;
    font-size: 13px;
    display: flex;
    font-family: "Poppins";
    align-items: center;
    height: 4rem;
    cursor: pointer;
    transition: 300ms ease all;
    width: 100%; 
    padding-left: 20px;
}

aside .menu-item:hover {
    background-color: #f3f3f3;
}

.menu-item i {
    margin-right: 1rem;
}

.right-menu {
    display: grid;
    grid-template-rows: 1rem auto;
    padding: 20px;
}

.header-right-menu {
    display: flex;
    justify-content: space-between;
}

.header-right-menu p {
    margin-top: 1rem;
    color: #555;
    font-family: "Poppins";
    font-weight: 600;
}

.centro-menu-right {
    display: flex;
    flex-direction: column; /* Para que os elementos fiquem um embaixo do outro */
    align-items: center;    /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    text-align: center; /* Para centralizar o texto */
    font-family: "Poppins";
}

.ftperfil {
    border: 2px solid #dfdfdf;
    width: 150px;                /* Tamanho do contêiner da PFP */
    height: 150px;               /* Altura igual à largura para ser quadrado/circular */
    border-radius: 50%;         /* Torna o contêiner circular */
    overflow: hidden;           /* Garante que a imagem não ultrapasse os limites do círculo */
    display: flex;              /* Flexbox para centralizar a imagem */
    align-items: center;        /* Centraliza verticalmente */
    justify-content: center;    /* Centraliza horizontalmente */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);  /* Sombra leve */
}

.ftperfil img {
    width: 100%;                /* Faz a imagem ocupar 100% do contêiner */
    height: 100%;               /* Mantém a proporção da imagem */
}

.editperfil {
    margin-top: 5px;
    width: 40px;                 /* Defina a largura do círculo */
    height: 40px;                /* Defina a altura igual à largura para manter o formato circular */
    border-radius: 50%;          /* Faz o botão ficar circular */
    border: none;                /* Remove a borda padrão do botão */
    background-color: #fffce0;   /* Cor de fundo */
    color: #555;                /* Cor do ícone */
    display: flex;               /* Usa flexbox para centralizar o ícone */
    align-items: center;         /* Centraliza verticalmente */
    justify-content: center;     /* Centraliza horizontalmente */
    cursor: pointer;             /* Muda o cursor para indicar que é clicável */
    transition: background-color 0.3s; /* Animação suave na mudança de cor */
}

.editperfil:hover {
    background-color: #ffcaca;   /* Cor de fundo ao passar o mouse */
}

.right-menu .nome {
    color: #555;
    margin-top: 1rem;
    cursor: pointer;
}

.right-menu .username {
    font-family: "Varela Round";
    font-size: 15px;
    color: #8f8f8f;
    font-weight: 200;
    cursor: pointer;
}

.botoes {
    display: flex;
    justify-content: space-between;
}

.upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upload-button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 10px 10px;
    background-color: white;
    color: #555;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.1s;
    display: flex;
    align-items: center;
}

.upload-button i {
    font-size: 18px;
}

.upload-button:hover {
    background-color: rgb(241, 241, 241); ;
}

input[type="file"] {
    display: none; /* Esconde o input original */
}

.botoes-ladodir {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}


.toggle-buttons {
    display: flex;
    justify-content: space-around;
    gap: 5px;
}

.toggle-buttons input[type="radio"] {
    display: none; /* Esconde o input de radio */
}

.toggle-button {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #ccc;
    font-size: 13px;
}

.toggle-button:hover {
    background-color: #f1f1f1;
}

.toggle-button.active {
    background-color: #efc5c5;
    color: black;
    border: 2px solid #c7aaaa;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#upload-button {
    padding: 10px 20px;
    background-color: #ffa500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#upload-button:hover {
    background-color: #e59400; /* Muda a cor ao passar o mouse */
}

#cancel-button {
    width: 30px;                 /* Defina a largura do círculo */
    height: 30px;                /* Defina a altura igual à largura para manter o formato circular */
    border-radius: 50%;          /* Faz o botão ficar circular */
    border: none;                /* Remove a borda padrão do botão */
    display: flex;               /* Usa flexbox para centralizar o ícone */
    align-items: center;         /* Centraliza verticalmente */
    justify-content: center;     /* Centraliza horizontalmente */
    transition: background-color 0.1s; /* Animação suave na mudança de cor */
    background-color: #f44336; /* Cor vermelha para o botão de cancelar */
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#cancel-button:hover {
    background-color: #c62828; /* Muda a cor ao passar o mouse */
}

.visualiza-perfil {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 1rem;
}

.header-perfil {
    text-align: center;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #e0b7d8;
}

.middle-perfil {
    background-color: white;
}
.header-perfil .ftperfil {
    
} 

.visualiza-perfil {
    height: fit-content;
    font-family: "Poppins";
    color:#555;
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha tudo horizontalmente no centro */
    text-align: center;
    box-shadow: #e2da9e 0px 7px 29px 0px;
}

.header-perfil {
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; /* Alinha tudo horizontalmente no centro */
    width: 100%;
    margin-bottom: 10px; /* Espaço entre a foto e o nome */
}

.visualiza-perfil .ftperfil{
    border-color:#fffce0;
}

.visualiza-perfil .ftperfil img {
    width: 150px; /* Define um tamanho para a imagem */
    height: 150px;
    border-radius: 50%; /* Faz a imagem ficar circular */
    object-fit: cover;
}

.middle-perfil h2 {
    font-size: 28px;
    margin: 10px 0 5px 0; /* Espaçamento personalizado entre os textos */
}

.middle-perfil h3 {
    font-size: 15px;
    font-weight: 200;
    font-family: "Varela Round";
    color:#8f8f8f; /* Cor do username para contraste */
    margin: 0;
}

.clickable-profile {
    cursor: pointer; /* Adiciona o cursor pointer para elementos clicáveis */
}

.descricaoperfil {
    font-size: 12px;
    width: 230px;
    height: fit-content;
    text-align:justify;
    margin: 10px;
    margin-bottom: 1rem;
    font-family: "Poppins";
}