@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Varela+Round&display=swap');


/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fffce0;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: transparent;
    transition: transform 0.3s ease-in-out;
    height: 60px;
}


.navbar.hidden {
    transform: translateY(-100%); /* Esconde a navbar movendo-a para cima */
}

.img-logo {
    width: 30px;
    
}

.invisivel {
    color: transparent;
}

.img-logo img {
    width: 100%;
    height: 100%;
}

.navbar .logo {
    font-family: "Varela Round";
    color: #ac689e;
    font-size: 15px;
    margin-left: 1rem;
    margin-top: 0.5rem;
    width: 20%;
}

.navbar .nomeusuario {
    margin-left: 10px;
    font-family: "Poppins";
    font-size: 15px;
    color: #8f8f8f;
    font-weight: 400;
    cursor: pointer;
}


.navbar .perfil-navbar {
    display: flex;
    padding-left: 1rem;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    width: 20%;
    
}

.navbar .ftperfil-navbar {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);  /* Sombra leve */
    cursor: pointer;
    border: 2px solid #dfdfdf;
}

.navbar .ftperfil-navbar .pfpnavbar {
    width: 100%;
    height: 100%;
   
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    margin-bottom: 1rem;
}

.search-bar form {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    color: #837373;
    background-color: #efc5c5;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 400;
    padding: 12px;
    
    
}

#search-input {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    padding-left: 4px;
    background-color: transparent;
    margin-left: 5px;
    border: none;
    border-radius: 20px;
    width: 100%;
    outline: none;
    color: #706c6c;
}

.search-bar button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.search-results-message {
    font-family: "Poppins";
    background-color: #f7f3d1;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-left: 4px solid #e59400;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}
.search-results-message strong {
    color: #e59400;
}

.search-bar button i {
    font-size: 16px;
}

#suggestions-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    border: 1px solid #ccc;
    position: absolute;
    width: 100%;
    height: 200px;
    overflow-y: auto;
    z-index: 1000;
    top: 100%; /* Aparece logo abaixo da barra */
    left: 0;
}

#suggestions-list li {
    padding: 10px;
    cursor: pointer;
}

#suggestions-list li:hover {
    background-color: #efc5c5;
}

#suggestions-box {
    position: absolute;
    background-color: #f8d9d9;
    border: 1px solid #c9aaaa;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    display: none;
    width: 100%;
    top:100%;
    margin-top: 5px;
    border-radius: 10px;
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;
    font-family: "Poppins";
}

.suggestion-item:hover {
    background-color: #efc5c5;
}

/* .search-bar {
    display: flex;
    color: #837373;
    background-color: #efc5c5;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 400;
    padding: 12px;
    width: auto;
    margin-bottom: 1rem;
    
}

.search-bar input[type="text"] {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    padding-left: 4px;
    background-color: transparent;
    margin-left: 5px;
    border: none;
    border-radius: 20px;
    width: 100%;
    outline: none;
    color: #706c6c;
}
 */

.container {
    display: flex;
    margin-top: 60px; /* To adjust for the fixed navbar */
    overflow: hidden;          /* Remove as barras de rolagem */

    
}

#contactReason {
    background-color: transparent;
    font-size: 13px;
    font-family: "Poppins";
    font-weight: 400;
    padding: 0;
}

#contactReason::placeholder {
    color: #555; /* Cor do placeholder do título quando não está focado */
  }
  
#contactReason::placeholder {
    color: #555; /* Cor do placeholder da descrição quando não está focado */
}
  
  /* Estilizando o placeholder quando o campo está focado */
#contactReason:focus::placeholder {
    color: gray; /* Cor do placeholder do título quando o campo está focado */
}
  
#contactReason:focus::placeholder {
    color: gray; /* Cor do placeholder da descrição quando o campo está focado */
}

#formModal h3 {
    font-size: 1.5rem;
    color: #555;

}

.cancelarReport {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 15px;
    background-color: transparent;
    color: #555;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

#formModal .modal-content p {
    font-size: 15px;
    font-weight: 500;
}

.left-menu, .right-menu {
    width: 20%;
    margin-top: 1rem;
    background-color: #fff;
    position: sticky;
    top: 60px; /* Fixed positioning relative to navbar */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
    
}

.left-menu {
    box-shadow: #e2da9e 0px 7px 29px 0px;
    border-bottom-right-radius: 20px;
}

.left-menu button {
    border: 0;
    background-color: white;
}

.left-menu button:hover {
    background-color: #f3f3f3;
}

.menu-item-notifications {
    color: #555;
    font-size: 13px;
    display: flex;
    font-family: "Poppins";
    align-items: center;
    height: 4rem;
    cursor: pointer;
    transition: 300ms ease all;
    width: 100%; 
    padding-left: 20px;
}

.menu-item-notifications i {
    margin-right: 1rem;
}

/* Caixa de Notificações */
.notification-panel {
    display: none;
    border-radius: 20px;
    margin-top: 5rem;
    font-family: "Poppins";
    font-size: 13px;
    font-weight: 600;
    color:#555;
    position: fixed;
    top: 0;
    width: 300px;
    background-color:white;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    
}

.notification-panel.active {
    top: 5rem;
    left: 18rem; /* Quando ativo, mova o painel para dentro da tela */
}

/* Inicialmente, o painel está escondido */
.notification-panel {
    opacity: 0;
    display: none;
    transition: opacity 0.1s ease; /* Animação suave de 0.3 segundos */
}

/* Quando o painel está visível */
.notification-panel.show {
    display: block; /* Mostra o painel */
    opacity: 1;     /* Define a opacidade para 100% */
}


.notification-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #dddbda;
}

.notification-header h2 {
    margin: 0;
    font-size: 18px;
}

.notification-header .close-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.notification-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.notification-list li {
    padding: 15px;
}

.notification-list li:hover {
    background-color: #f9f9f9;
}

.notif {
    display: flex;
}

.notif img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.right-menu {
    background-color: #fdf7c9;
    box-shadow: #fff9c8 0px 30px 60px -12px inset, #fdf7c9 0px 18px 36px -18px inset;
    border-bottom-left-radius: 20px;
}

.main-content {
    overflow: auto;   /* Garante que o conteúdo role corretamente */
    flex-grow: 1;
    padding: 20px;
    overflow-y: scroll; /* mantém a rolagem ativa */
    height: calc(100vh - 60px);
}

.main-content::-webkit-scrollbar {
    display: none;
}

.main-content {
    scrollbar-width: none; /* Firefox */
}

.create-post {
    
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: #e2da9e 0px 7px 29px 0px;
    height: fit-content;
}

.create-post .descricaopost {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#555;
    width: 100%;
    height: 80px;
    padding: 10px;
    margin-bottom: 10px;
    resize: none;       /* Remove a possibilidade de redimensionar */
    border: none;       /* Remove a borda */
    box-shadow: none;   /* Remove sombras ao focar (se houver) */
    outline: none;    
    border-radius: 10px; 
}

.create-post .descricaopost:focus {
    background-color: #ffd8d84b;
}

.preview-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.preview-image, .preview-video {
    width: 100%;
    border-radius: 10px;
    max-height: 300px;
    object-fit: contain;
}

.titulopost {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    background-color: #f3f3f38f;
    resize: none;       /* Remove a possibilidade de redimensionar */
    border: none;       /* Remove a borda */
    box-shadow: none;   /* Remove sombras ao focar (se houver) */
    outline: none;  
    border-radius: 10px;
}

.create-post button {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 15px;
    background-color: #ffa500;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.post {
    height: fit-content;
    display: grid;
    grid-template-rows: 10% auto 10%;
    font-family: "Varela Round";
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: #e2da9e 0px 7px 29px 0px;
    
}



.perfil-post {
    font-family: "Poppins";
}

.perfil-post .nome {
    cursor: pointer;
    text-decoration: none;
}

.perfil-post .nome a:link {
    text-decoration: none;
    color: #555;
}

.perfil-post .nome a:hover {
    color: #555;
}

.perfil-post .nome a:visited {
    color: #555;
}

.perfil-post .nome a:active {
    color: #555;
}

.post-header {
    display: grid;
    grid-template-columns: 60px auto 60px;
}

.conteudo-principal {
    display: block;
    margin-top: 1rem;
    height: fit-content;
    
}

.conteudo-principal .titulo {
    margin-bottom: 1rem;
}

.data-post {
    font-size: 13px;
    color: #858585;
}

.midia {
    margin-bottom: 1rem;
    background-color: #555;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    height: 300px;            /* Certifique-se de que a altura da div esteja definida */
}

.imagem-post {
    width: 100%;
    height: 100%;
    object-fit: contain;       /* A imagem se ajusta à div sem cortar, mantendo a proporção */
}


.post h3 {
    margin-bottom: 10px;
}

.conteudo-principal, .perfil-post {
    color: #555;
    font-family: "Poppins";
    font-size: 14px;
}

.post-footer {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.menu-container {
    position: relative; /* Garante que o dropdown seja posicionado corretamente */
}

.menu-button {
    position: relative;
    margin-top: 5px;
    width: 40px;                 /* Defina a largura do círculo */
    height: 40px;                /* Defina a altura igual à largura para manter o formato circular */
    border-radius: 50%;          /* Faz o botão ficar circular */
    border: none;                /* Remove a borda padrão do botão */
    background-color: white;   /* Cor de fundo */
    color: #555;                /* Cor do ícone */
    display: flex;               /* Usa flexbox para centralizar o ícone */
    align-items: center;         /* Centraliza verticalmente */
    justify-content: center;     /* Centraliza horizontalmente */
    cursor: pointer;             /* Muda o cursor para indicar que é clicável */
    transition: background-color 0.1s; /* Animação suave na mudança de cor */
}

.menu-button:hover {
    background-color: rgb(241, 241, 241);   /* Cor de fundo ao passar o mouse */
}

.menu-button i {
    font-size: 18px;             /* Tamanho do ícone */
}

.dropdown-menu {
    display: none; /* Esconde o menu até que o botão seja clicado */
    position: absolute; /* Para posicioná-lo em relação ao botão */
     /* Faz o menu aparecer diretamente abaixo do botão */
    right: 0; /* Alinha o menu à esquerda do botão */
    background-color:#ececec;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 100; /* Garante que o menu esteja acima de outros elementos */
    width: max-content;
    font-size: 13px;
    font-family: "Poppins";
    font-weight: 600;
    color:#555;
}

/* Mostra o menu quando a classe "show" é adicionada */
.dropdown-menu.show {
    display: block;
}

/* Estilo das opções do menu */
.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu ul li:last-child {
    margin-bottom: 0;
}

.dropdown-menu ul li button {
    background: none; /* Remove o estilo padrão de botão */
    border: none; /* Remove a borda padrão */
    text-decoration: none;
    color: #333;
    padding: 8px 16px;
    display: block;
    border-radius: 3px;
    transition: background-color 0.2s;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 600;
    width: 100%;
    text-align: left;
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.dropdown-menu ul li button:hover {
    background-color: #e6e6e6;
}


.pfp-post {
    width: 50px;                /* Tamanho do contêiner da PFP */
    height: 50px;               /* Altura igual à largura para ser quadrado/circular */
    border-radius: 50%;         /* Torna o contêiner circular */
    overflow: hidden;           /* Garante que a imagem não ultrapasse os limites do círculo */
    display: flex;              /* Flexbox para centralizar a imagem */
    align-items: center;        /* Centraliza verticalmente */
    justify-content: center;    /* Centraliza horizontalmente */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);  /* Sombra leve */
    cursor: pointer;
}

.pfp-post a {
    display: block;
    width: 100%;
    height: 100%;
}

.pfp {
    width: 100%;                /* Faz a imagem ocupar 100% do contêiner */
    height: 100%;               /* Mantém a proporção da imagem */
}

.encontrei {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 15px;
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid #ff4081;
}

.e-meu {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 15px;
    background-color: #ac689e;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid #ac689e;
}

.e-meu:hover {
    background-color: transparent;
    border: 2px solid #ac689e;
    transition: all ease 0.2s;
    color: #ac689e;
}

.encontrei:hover {
    background-color: transparent;
    border: 2px solid #ff4081;
    transition: all ease 0.2s;
    color: #ff4081;
}



.tp_publicacao, .tag-item {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    border: solid 2px;
    color:#555;
    width: fit-content;
    font-size: 0.8rem;
}

.tag-item {
    background-color: #c0f173;
    border: solid 2px #c0f173;
}

.tag-item i {
    margin-right: 5px;
}

aside {
    overflow: hidden;
    padding-top: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

aside .menu-item {
    color: #555;
    font-size: 13px;
    display: flex;
    font-family: "Poppins";
    align-items: center;
    height: 4rem;
    cursor: pointer;
    transition: 300ms ease all;
    width: 100%; 
    padding-left: 20px;
}

aside .menu-item:hover {
    background-color: #f3f3f3;
}

.menu-item i {
    margin-right: 1rem;
}

.right-menu {
    display: grid;
    grid-template-rows: 1rem auto;
    padding: 20px;
}

.header-right-menu {
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.header-right-menu p {
    margin-top: 1rem;
    color: #555;
    font-family: "Poppins";
    font-weight: 600;
}

.centro-menu-right {
    display: flex;
    flex-direction: column; /* Para que os elementos fiquem um embaixo do outro */
    align-items: center;    /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    text-align: center; /* Para centralizar o texto */
    font-family: "Poppins";
    
}

.ftperfil {
    border: 2px solid #dfdfdf;
    width: 150px;                /* Tamanho do contêiner da PFP */
    height: 150px;               /* Altura igual à largura para ser quadrado/circular */
    border-radius: 50%;         /* Torna o contêiner circular */
    overflow: hidden;           /* Garante que a imagem não ultrapasse os limites do círculo */
    display: flex;              /* Flexbox para centralizar a imagem */
    align-items: center;        /* Centraliza verticalmente */
    justify-content: center;    /* Centraliza horizontalmente */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);  /* Sombra leve */
    transition: all ease 0.2s;
}

.ftperfil:hover {
    border: 2px solid white;
}

.ftperfil img {
    width: 100%;                /* Faz a imagem ocupar 100% do contêiner */
    height: 100%;               /* Mantém a proporção da imagem */
}

.editperfil {
    margin-top: 5px;
    width: 40px;                 /* Defina a largura do círculo */
    height: 40px;                /* Defina a altura igual à largura para manter o formato circular */
    border-radius: 50%;          /* Faz o botão ficar circular */
    border: none;                /* Remove a borda padrão do botão */
    background-color: #fffce0;   /* Cor de fundo */
    color: #555;                /* Cor do ícone */
    display: flex;               /* Usa flexbox para centralizar o ícone */
    align-items: center;         /* Centraliza verticalmente */
    justify-content: center;     /* Centraliza horizontalmente */
    cursor: pointer;             /* Muda o cursor para indicar que é clicável */
    transition: background-color 0.3s; /* Animação suave na mudança de cor */
}

.header-perfil .menu-button {
    margin-top: 5px;
    width: 40px;                 /* Defina a largura do círculo */
    height: 40px;                /* Defina a altura igual à largura para manter o formato circular */
    border-radius: 50%;          /* Faz o botão ficar circular */
    border: none;                /* Remove a borda padrão do botão */
    background-color: #fffce0;   /* Cor de fundo */
    color: #555;                /* Cor do ícone */
    display: flex;               /* Usa flexbox para centralizar o ícone */
    align-items: center;         /* Centraliza verticalmente */
    justify-content: center;     /* Centraliza horizontalmente */
    cursor: pointer;             /* Muda o cursor para indicar que é clicável */
    transition: background-color 0.3s; /* Animação suave na mudança de cor */
}

.header-perfil .menu-button i {
    font-size: 18px; 
}

.editperfil:hover {
    background-color: #ffcaca;   /* Cor de fundo ao passar o mouse */
}

.right-menu .nome {
    color: #555;
    margin-top: 1rem;
    cursor: pointer;
}

.right-menu .username {
    font-family: "Varela Round";
    font-size: 15px;
    color: #8f8f8f;
    font-weight: 200;
    cursor: pointer;
}

.botoes {
    display: flex;
    justify-content: space-between;
}

.upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upload-button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 10px 10px;
    background-color: white;
    color: #555;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.1s;
    display: flex;
    align-items: center;
}

.upload-button i {
    font-size: 18px;
}

.upload-button:hover {
    background-color: rgb(241, 241, 241); ;
}

input[type="file"] {
    display: none; /* Esconde o input original */
}

.botoes-ladodir {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}


.toggle-buttons {
    display: flex;
    justify-content: space-around;
    gap: 5px;
}

.toggle-buttons input[type="radio"] {
    display: none; /* Esconde o input de radio */
}

.toggle-button {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #ccc;
    font-size: 13px;
}

.toggle-button:hover {
    background-color: #f1f1f1;
}

.toggle-button.active {
    background-color: #efc5c5;
    color: black;
    border: 2px solid #c7aaaa;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#upload-button {
    padding: 10px 20px;
    background-color: #ffa500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#upload-button:hover {
    background-color: #e59400; /* Muda a cor ao passar o mouse */
}

#cancel-button {
    width: 30px;                 /* Defina a largura do círculo */
    height: 30px;                /* Defina a altura igual à largura para manter o formato circular */
    border-radius: 50%;          /* Faz o botão ficar circular */
    border: none;                /* Remove a borda padrão do botão */
    display: flex;               /* Usa flexbox para centralizar o ícone */
    align-items: center;         /* Centraliza verticalmente */
    justify-content: center;     /* Centraliza horizontalmente */
    transition: background-color 0.1s; /* Animação suave na mudança de cor */
    background-color: #f44336; /* Cor vermelha para o botão de cancelar */
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#cancel-button:hover {
    background-color: #c62828; /* Muda a cor ao passar o mouse */
}

.visualiza-perfil {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 1rem;
}

.header-perfil {
    position: relative;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #e0b7d8;
    
}

.header-perfil .editperfil {
    position: absolute;
    top: 10px; /* Ajuste conforme necessário */
    right: 10px; /* Ajuste conforme necessário */
}

.header-perfil .menu-button {
    position: absolute;
    top: 10px; /* Ajuste conforme necessário */
    right: 10px; /* Ajuste conforme necessário */
}

.middle-perfil {
    background-color: white;
}

.visualiza-perfil {
    height: fit-content;
    font-family: "Poppins";
    color:#555;
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha tudo horizontalmente no centro */
    text-align: center;
    box-shadow: #e2da9e 0px 7px 29px 0px;
}

.header-perfil {
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; /* Alinha tudo horizontalmente no centro */
    width: 100%;
    margin-bottom: 10px; /* Espaço entre a foto e o nome */
}

.visualiza-perfil .ftperfil{
    border-color:#fffce0;
}

.visualiza-perfil .ftperfil img {
    width: 150px; /* Define um tamanho para a imagem */
    height: 150px;
    border-radius: 50%; /* Faz a imagem ficar circular */
    object-fit: cover;
}

.middle-perfil h2 {
    font-size: 28px;
    margin: 10px 0 5px 0; /* Espaçamento personalizado entre os textos */
}

.middle-perfil h3 {
    font-size: 15px;
    font-weight: 200;
    font-family: "Varela Round";
    color:#8f8f8f; /* Cor do username para contraste */
    margin: 0;
}

.clickable-profile {
    cursor: pointer; /* Adiciona o cursor pointer para elementos clicáveis */
}

.descricaoperfil {
    font-size: 12px;
    width: 230px;
    height: fit-content;
    text-align:justify;
    margin: 10px;
    margin-bottom: 1rem;
    font-family: "Poppins";
}


.menu-publicacoes {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-top: 20px;
    width: 100%;
    border-top: 2px solid #dad7d7af;
}

.menu-publicacoes .menu-btn {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 15px;
    color: #555;
    border: none;
    border-radius: 20px;
    background-color: #ddd;
    border: none;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-publicacoes .menu-btn:hover {
    background-color: #ccc;
}

.menu-publicacoes .menu-btn.active {
    background-color: #ffa500;
    color: white;
}

.section {
    display: none;
    margin-top: 20px;
}

.section h3 {
    font-family: "Poppins";
    font-size: 2rem;
    margin: 1rem;
    color:#555;
}

.section-tipo {
    display: none;
    margin-top: 20px;
}

.emptySection {
    font-family: "Poppins";
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1rem;
}
.section-tipo h3 {
    font-family: "Poppins";
    font-size: 2rem;
    margin: 1rem;
}

#objetos-perdidos {
    color: #b37f7f;
}

#objetos-achados {
    color: #94ac6c;
}

.section.active {
    display: block;
}

.section-tipo.active {
    display: block;
}

.tags {
    max-width: 50rem;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tag {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 9px 14px;
    background-color: white;
    color: #c0c0c0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid #dfdfdf;
    box-shadow: #e2da9e6c 0px 7px 29px 0px;
    transition: 0.3s all ease;
    margin-bottom: 5px;
}

.tag:hover {
    background-color: #e6e6e6;
}

.tag i {
    margin-right: 2px;
}

.tag.active {
    background-color: #ac689e;
    color: white;
}

.config-conta {
    height: 100%;
    font-family: "Varela Round";
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: #e2da9e 0px 7px 29px 0px;
    color: #555;
    display: block;
}

.config-conta h3 {
    font-family: "Poppins";
    font-size: 30px;
    padding-bottom: 1rem;
    border-bottom: 2px solid #8f8f8f41;
}

.email-conta, .senha-conta, .excluir-conta, .painel-tema, .painel-barra-acessibilidade {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    height: fit-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #8f8f8f38;
    align-items: center;     /* Centraliza horizontalmente */
} 


.email-conta, .senha-conta, .excluir-conta, .painel-tema, .painel-barra-acessibilidade h4{
    font-family: "Poppins";
}

.user-email, .user-senha, .user-acessibilidade{
    font-weight: 400;
    font-size: 15px;
    
}

.user-notif {
    font-weight: 400;
    font-size: 13px;
    width: 200px;
}

.email-conta button, .senha-conta button {
    width: 40px;                 /* Defina a largura do círculo */
    height: 40px;                /* Defina a altura igual à largura para manter o formato circular */
    border-radius: 50%;          /* Faz o botão ficar circular */
    border: none;                /* Remove a borda padrão do botão */
    color: #555;                /* Cor do ícone */
    display: flex;               /* Usa flexbox para centralizar o ícone */
    align-items: center;         /* Centraliza verticalmente */
    justify-content: center;     /* Centraliza horizontalmente */
    cursor: pointer;             /* Muda o cursor para indicar que é clicável */
    font-size: 15px;

}

.excluir-conta-btn {
    font-family: "Varela Round";
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid #d14747;
    color: white;
    background-color: #f17272;
}

.excluir-conta-btn:hover {
    cursor: pointer;
}

.right-menu-configuracoes {
    width: 20%;
    margin-top: 1rem;
    background-color: #fff;
    position: sticky;
    top: 60px; /* Fixed positioning relative to navbar */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #fdf7c9;
    box-shadow: #fff9c8 0px 30px 60px -12px inset, #fdf7c9 0px 18px 36px -18px inset;
    border-bottom-left-radius: 20px;
}

.menu-item.active {
    background-color: #eee6ac;
}

.right-menu-configuracoes .menu-item {
    display: flex;              /* Ativa flexbox */
    flex-direction: column;     /* Alinha elementos em coluna (um embaixo do outro) */
    justify-content: center;
    align-items: flex-start;   
    cursor: pointer;       /* Muda o cursor para indicar que é clicável */
}

.right-menu-configuracoes .menu-item:hover {
    background-color: #eee6ac;
}


.right-menu-configuracoes .menu-item h4 {
    font-family: "Varela Round";
    color: #858585;
    font-weight: 300;
}

.tituloconfiguracoes {
    font-family: "Poppins";
    color: #333;
    margin: 1rem;
    
}

/* Estilo do botão dropdown */
/* Estilo do botão dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}
  
  .dropdown-btn {
    font-family: "Poppins";
    font-weight: 500;
    background-color: #e2da9e;  /* Cor do botão */
    color: #555;
    padding: 7px 15px;
    font-size: 13px;
    border: 1px solid #8f8f8f59;
    cursor: pointer;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 150px; /* Largura do botão */
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
  
.dropdown-btn i {
    margin-left: 10px; /* Espaçamento entre o texto e o ícone */
}
  
  /* Esconde o conteúdo do dropdown inicialmente */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e2da9e;  /* Cor do botão */
    
    font-size: 13px;
    min-width: 150px;
    border: 1px solid #8f8f8f59;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    z-index: 1;
}
  
  /* Estilo dos links no dropdown */
.dropdown-content a {
    color: #555;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
  /* Cor ao passar o mouse sobre os links */
.dropdown-content a:hover {
    background-color: #f7efd0;
}
  
  /* Mostra o dropdown quando o botão é clicado */
.dropdown.show .dropdown-content {
     display: block;
}

/* Container do toggle */
.toggle-switch {
    position: relative;
    width: 40px;
    height: 24px;
  }
  
  /* Oculta o checkbox */
.toggle-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* Estilo da "alavanca" do toggle */
.toggle-label {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 34px;
    width: 100%;
    height: 100%;
    transition: background-color 0.2s;
    
}
  
/* Alavanca interna */
.toggle-label::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.2s;
}
  
/* Estilo quando o toggle estiver ativado */
.toggle-checkbox:checked + .toggle-label {
    background-color: #e2da9e; /* Cor quando ativo */
  }
  
/* Movimenta a alavanca interna quando ativado */
.toggle-checkbox:checked + .toggle-label::before {
    transform: translateX(16px);
}

.modal {
    display: none; /* Escondido por padrão */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    position: relative;
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    justify-content: center;
    width: 35rem;
    height: fit-content;
    font-family: "Poppins";
    color: #555;
}

.modal button {
    margin: 10px;
}

.confirmaSenha {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 15px;
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid #ff4081;
}

.fecharAba {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 15px;
    background-color: transparent;
    color: #555;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

.modal-content h3 {
    margin-bottom: 1rem;
}

.modal-content p {
    margin-bottom: 3rem;
}

.bts-popup {
    display: flex;
    justify-content: flex-end; /* Alinha os itens à direita */
    gap: 10px; /* Espaço entre os botões */
    position: absolute;
    bottom: 10px; /* Alinha os botões na parte inferior */
    right: 10px; /* Alinha os botões à direita */
}

.modal-content textarea {
    font-family: "Varela Round";
    width: 100%;
    height: 100px;
    margin-bottom: 2rem;
    padding: 10px;
    border-radius: 4px;
    border: none;
    resize: none;
    margin-top: 1rem;
}

.modal-content textarea:focus {
    background-color: #e0b7d841;
}

.cancel-button {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 15px;
    background-color: transparent;
    color: #555;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

.submit-button {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 15px;
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid #ff4081;
}    

.confirm-button {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 15px;
    background-color: #ac689e;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid #ac689e;
}

#formModal p {
    margin-bottom: 0;
    font-size: 14px;
    font-family: "Varela Round";
}

#formModal .modal-content {
    width: 900px;
}

.container-upload-foto {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#input-upload-foto {
    display: none; /* Esconde o input padrão */
}

.botao-upload-foto {
    display: flex;
    padding: 8px 15px;
    background-color: #8f8f8fa9;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid #8f8f8f96;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Varela Round", sans-serif;
    font-size: 12px;
    transition: background-color 0.3s;
    margin-top: 1rem;
}

.botao-upload-foto:hover {
    background-color: #929292;
}

.botao-upload-foto-item-perdido {
    display: flex;
    padding: 8px 15px;
    background-color: #8f8f8fa9;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid #8f8f8f96;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Varela Round", sans-serif;
    font-size: 12px;
    transition: background-color 0.3s;
    margin-top: 1rem;
}

.botao-upload-foto-item-perdido:hover {
    background-color: #929292;
}

.container-upload-foto {
    text-align: center;
}

#input-upload-foto {
    display: none; /* Esconde o input padrão */
}

.container-preview-foto {
    margin-top: 20px;
    display: none;
    align-items: center;
    gap: 1rem;
    
}

.container-preview-foto-item-perdido {
    margin-top: 20px;
    display: none;
    align-items: center;
    gap: 1rem;
}

#preview-foto {
    max-width: 100%;
    max-height: 70px;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid #8f8f8f96;
    margin: 0;
}

#preview-foto-item-perdido {
    max-width: 100%;
    max-height: 70px;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid #8f8f8f96;
    margin: 0;
}

.botao-remover-foto {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30px;
    height: 30px;

    border: none;
    background-color: rgb(236, 112, 112);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    transition: background-color 0.3s;
    margin: 0;
}

.botao-remover-foto:hover {
    background-color: rgb(190, 100, 100);
}

.botao-remover-foto-item-perdido {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30px;
    height: 30px;

    border: none;
    background-color: rgb(236, 112, 112);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    transition: background-color 0.3s;
    margin: 0;
}

.botao-remover-foto-item-perdido:hover {
    background-color: rgb(190, 100, 100);
}

.editModalUsername {
    font-size: 15px;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #8f8f8f5e;
}

#editModal .modal-content {
    width: 500px;
    padding: 0;
    
}

#editPostForm .select-tags {
    height: 40px;
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 5px;
    color: #555;
    border: 2px solid #555;
}

/* Contêiner para organização */
.status-toggle {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

/* Estilo do rótulo */
.radio-label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    font-weight: 500;
    font-family: "Varela Round";
    cursor: pointer;
    color: #555;
}

/* Oculta o botão de rádio padrão */
.radio-label input[type="radio"] {
    display: none;
}

/* Estilo do elemento customizado do rádio */
.radio-label .custom-radio {
    width: 20px;
    height: 20px;
    border: 2px solid #8f8f8fa9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
}

/* Quando marcado, adiciona um preenchimento no centro */
.radio-label input[type="radio"]:checked + .custom-radio {
    background-color: #555;
    border-color: #333;
}

.radio-label input[type="radio"]:checked + .custom-radio::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
}

/* Efeito hover */
.radio-label:hover .custom-radio {
    border-color: #333;
}

/* Estilo para o texto */
.radio-label:hover {
    color: #333;
}


.temas-select {
    height: 40px;
    width: 200px;
    background-color: white; /* Cor de fundo */
    color: #ccc;           /* Cor do texto */
    border: 2px solid #ccc;
    border-radius: 10px;    /* Borda arredondada */
    font-size: 16px;       /* Tamanho da fonte */
    outline: none;         /* Remove o contorno ao focar */
    font-family: "Varela Round";
    font-weight: 500;   
    font-size: 13px;  
    padding-left: 5px;
}

.footerEditForm {
    display: flex;
    justify-content: space-between;
}

#postTitle, #postContent {
    border:none;
    width: 100%;
    padding: 0 1rem;
    border-radius: 5px;
    color: #333;
    font-family: "Poppins";
    

}

#postTitle {
    font-size: 1.5rem;
    font-weight: 700;
}

#postContent {
    font-size: 15px;
    font-weight: 500;
}

#postContent:focus {
    background-color: transparent;
}

/* Estilizando o placeholder inicialmente */
#postTitle::placeholder {
    color: #555; /* Cor do placeholder do título quando não está focado */
  }
  
  #postContent::placeholder {
    color: #555; /* Cor do placeholder da descrição quando não está focado */
  }
  
  /* Estilizando o placeholder quando o campo está focado */
  #postTitle:focus::placeholder {
    color: gray; /* Cor do placeholder do título quando o campo está focado */
  }
  
  #postContent:focus::placeholder {
    color: gray; /* Cor do placeholder da descrição quando o campo está focado */
  }  


.cancel-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30px;
    height: 30px;
    border: none;
    background-color: rgb(236, 112, 112);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    transition: background-color 0.3s;
    margin: 0;
}

.cancel-preview:hover {
    background-color: rgb(190, 100, 100);
}


.editModalDescricao, .editModalTitulo {
    font-weight: 500;
    font-size: 14px;
    color: #555;
}


.preview-image-editpost, .preview-video-editpost {
    width: 100%;
    border-radius: 10px;
    max-height: 100px;
    object-fit: contain;
}

#editPreviewContainer {
    width: auto;
}

.footerEditForm .upload-container {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.footerEditForm .upload-container .upload-button {
    font-size: 13px;
    font-family: "Varela Round";
    padding: 10px 15px;
    font-weight: 500;
    color: #706c6c;
    border: 2px solid #706c6c;
}

.tags-tipos .toggle-buttons {
    justify-content: left;
    margin-left: 1rem;
}

.tags-tipos .toggle-button.active {
    background-color: #8f8f8f80;
    color: #555;
    border: 2px solid #555;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

/* Estilo do botão do dropdown */

.select-tags {
    width: fit-content;
    background-color: white; /* Cor de fundo */
    color: #ccc;           /* Cor do texto */
    border: 2px solid #ccc;
    border-radius: 10px;    /* Borda arredondada */
    font-size: 16px;       /* Tamanho da fonte */
    outline: none;         /* Remove o contorno ao focar */
    font-family: "Varela Round";
    font-weight: 500;   
    font-size: 13px;  
    padding-left: 5px;
}

.select-tags option {
    background-color: #8f8f8f;
    color: white;
}


.dropdown-btn-tags {
    background-color: transparent; /* Cor de fundo */
    color: #706c6c;
    padding: 10px 20px;
    font-size: 13px;
    border: none;
    cursor: pointer;
    border: 2px solid #706c6c;
    border-radius: 20px;
    font-family: "Varela Round";
    font-weight: 500;
    margin-left: 1rem;
}

.dropdown-btn-tags i {
    margin-left: 10px;
}


/* Estilo do conteúdo do dropdown */
.dropdown-content-tags {
    display: none; /* Escondido por padrão */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 10px;
    border: 2px solid #706c6c3a;
}

.dropdown-content-tags a {
    color: #706c6c;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 13px;
    font-family: "Varela Round";
    font-weight: 500;
    border-radius: 10px;
}

.dropdown-content-tags a:hover {
    background-color: #f1f1f1;
}

/* Mostrar o dropdown ao clicar */
.show {
    display: block;
}


.tags-tipos .toggle-buttons {
    margin-left: 1rem;
    padding: 0;
}

.tags-tipos .toggle-buttons .toggle-button {
    color: #706c6c;
    border: 2px solid #706c6c;
}

.botoes-ladodir .dropdown-tags .dropdown-btn-tags {
    background-color: transparent; /* Cor de fundo */
    color: #ccc;
    padding: 10px 20px;
    font-size: 13px;
    border: none;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-family: "Varela Round";
    font-weight: 500;
    margin: 0;
}

#editPerfilModal .modal-content {
    display: flex;
    flex-direction: column; /* Coloca o conteúdo em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    height: 23rem;
}

#editName {
    border: none;
    font-size: 1.5rem;
    font-family: "Poppins";
    font-weight: 700;
    color: #333;
    margin-top: 10px;
    width: fit-content;
    text-align: center;

}

#editUserName {
    border: none;
    font-size: 14px;
    font-family: "Varela Round";
    font-weight: 500;
    color: #8f8f8f;
    margin-top: 5px;
    width: fit-content;
    text-align: center;

}

#editUserName::placeholder {
    color: #555; /* Cor do placeholder do título quando não está focado */
}

#editUserName:focus::placeholder {
    color: rgb(180, 180, 180); /* Cor do placeholder do título quando o campo está focado */
}

#editName::placeholder {
    color: #555; /* Cor do placeholder do título quando não está focado */
}

#editUserDesc:focus::placeholder {
    color: rgb(180, 180, 180); /* Cor do placeholder do título quando o campo está focado */
}

#editUserDesc::placeholder {
    color: #555; /* Cor do placeholder do título quando não está focado */
}

#editName:focus::placeholder {
    color: gray; /* Cor do placeholder do título quando o campo está focado */
}

.profile-picture-container .upload-pfp {
    position: absolute;
    z-index: 1000;
}

.profile-picture-container .upload-pfp .upload-button {
    background-color: #8f8f8f9f;
    transition: all ease 0.3s;
    cursor: pointer;
}

.profile-picture-container .upload-pfp .upload-button:hover {
    background-color: #8f8f8fcb;
}

#editUserDesc {
    font-family: "Poppins";
    font-weight: 400;
    width: 12rem;
    text-align: center;
    margin-top: 0;
}

#editUserDesc:focus {
    background-color: transparent;
    border: 1px solid #ccc; 
}

.profile-picture-container {
    border: 2px solid #dfdfdf;
    width: 150px;                /* Tamanho do contêiner da PFP */
    height: 150px;               /* Altura igual à largura para ser quadrado/circular */
    border-radius: 50%;         /* Torna o contêiner circular */
    overflow: hidden;           /* Garante que a imagem não ultrapasse os limites do círculo */
    display: flex;              /* Flexbox para centralizar a imagem */
    align-items: center;        /* Centraliza verticalmente */
    justify-content: center;    /* Centraliza horizontalmente */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);  /* Sombra leve */
    transition: all ease 0.2s;
}

.profile-picture-container:hover {
    border: 2px solid white;
}

.profile-picture-container img {
    width: 100%;                /* Faz a imagem ocupar 100% do contêiner */
    height: 100%;               /* Mantém a proporção da imagem */
}

.excluirFormTitulo {
    margin-bottom: 0.5rem;
}

.excluirFormSubtitulo {
    margin-bottom: 2rem;
    font-weight: 500;
    color: #837373;
}

#reportModal .modal-content h3 {
    color: #555;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: "Poppins";
}

#confirmModal .modal-content h3 {
    color: #555;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: "Poppins";
}

.confirmModalMarcarComoEncontradoTitulo, .confirmModalMarcarComoReivindicadoTitulo, .formModalMarcarComoReivindicadoTitulo {
    color: #555;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: "Poppins";
}

.confirmModalMarcarComoEncontradoSubtitulo, .confirmModalMarcarComoReivindicadoSubtitulo {
    color: #706c6c;
    font-size: 14px;
    font-weight: 500;
}

#confirmModal .modal-content p {
    color: #706c6c;
    font-size: 14px;
    font-weight: 500;
}

#reportForm label  {
    color: #706c6c;
    font-size: 14px;
    font-weight: 500;
}

#confirmModalItemPerdido .modal-content h3 {
    color: #555;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: "Poppins";
}

#confirmModalItemPerdido .modal-content p {
    color: #706c6c;
    font-size: 14px;
    font-weight: 500;
}

.formModalItemPerdidoTitulo {
    color: #555;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: "Poppins";
}

#formModalItemPerdido .modal-content p {
    margin: 0;
    padding: 0;
    color: #706c6c;
    font-size: 14px;
    font-weight: 500;
}

#contactReasonItemPerdido {
    padding: 0;
    background-color: transparent;
    color: #333;
}

#contactReasonItemPerdido::placeholder {
    color: #555; /* Cor do placeholder do título quando não está focado */
  }
  
#contactReasonItemPerdido::placeholder {
    color: #555; /* Cor do placeholder da descrição quando não está focado */
}
  
  /* Estilizando o placeholder quando o campo está focado */
#contactReasonItemPerdido:focus::placeholder {
    color: gray; /* Cor do placeholder do título quando o campo está focado */
}
  
#contactReasonItemPerdido:focus::placeholder {
    color: gray; /* Cor do placeholder da descrição quando o campo está focado */
}

#reportReason {
    padding: 0;
    background-color: transparent;
    color: #333;
}

#reportReason::placeholder {
    color: #555; /* Cor do placeholder do título quando não está focado */
  }
  
#reportReason::placeholder {
    color: #555; /* Cor do placeholder da descrição quando não está focado */
}
  
  /* Estilizando o placeholder quando o campo está focado */
#reportReason:focus::placeholder {
    color: gray; /* Cor do placeholder do título quando o campo está focado */
}
  
#reportReason:focus::placeholder {
    color: gray; /* Cor do placeholder da descrição quando o campo está focado */
}

.input-container {
    position: relative;
    display: inline-block;
    margin-bottom: 2rem;
}

.input-container label {
    display: flex;
    width: 8rem;
    color: #706c6c;
    font-size: 14px;
    font-weight: 500;
    
}

#textarea {
    font-family: "Poppins";
    background-color: transparent;
    color: #333;
    
    margin: 0;
    padding: 0;
    
    font-size: 14px;
}

#textarea::placeholder {
    color: #555; /* Cor do placeholder do título quando não está focado */
  }
  
#textarea::placeholder {
    color: #555; /* Cor do placeholder da descrição quando não está focado */
}
  
  /* Estilizando o placeholder quando o campo está focado */
#textarea:focus::placeholder {
    color: gray; /* Cor do placeholder do título quando o campo está focado */
}
  
#textarea:focus::placeholder {
    color: gray; /* Cor do placeholder da descrição quando o campo está focado */
}

.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.input-container label {
    display: inline-block;
    width: 100%;
    color: #706c6c;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
}

#textarea {
    font-family: "Poppins";
    background-color: transparent;
    color: #555;
    font-weight: 500;
    font-size: 14px;
    height: fit-content;
    border-radius: 4px;
    resize: none;
    margin-top: 5px;
}

.suggestions {
    position: absolute;
    left: 0;
    top: 7rem;
    width: fit-content;
    max-height: 150px;
    overflow-y: scroll; /* mantém a rolagem ativa */
    z-index: 10000;
    display: none; /* inicialmente escondido */
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 2px solid #706c6c3a;
}

.suggestions::-webkit-scrollbar {
    display: none;
}

.suggestions {
    scrollbar-width: none; /* Firefox */
}

.suggestion-item {
    color: #706c6c;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}


#deleteAccountModal .modal-content {
    height: 17rem;
    
}

#deleteAccountModal .modal-content h3, #deleteAccountModal .modal-content p{
    margin: 0;
    padding: 0;
}

#deleteAccountModal .modal-content h3 {
    margin-bottom: 1rem;
}

#deleteAccountForm #password {
    margin-top: 1rem;
    border-radius: 10px;
    border: 2px solid #ccc;
    width: 100%;
    padding: 5px 10px;
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 500;
    color: #333;
    transition: 0.3s all ease;
}

#deleteAccountForm #password:focus {
    background-color: #f5f5f5cb;
}

#deleteAccountForm #password::placeholder {
    color: #555; /* Cor do placeholder do título quando não está focado */
  }
  
#deleteAccountForm #password::placeholder {
    color: #555; /* Cor do placeholder da descrição quando não está focado */
}
  
  /* Estilizando o placeholder quando o campo está focado */
#deleteAccountForm #password:focus::placeholder {
    color: gray; /* Cor do placeholder do título quando o campo está focado */
}
  
#deleteAccountForm #password:focus::placeholder {
    color: gray; /* Cor do placeholder da descrição quando o campo está focado */
}
