/* Importando todas as fontes  */

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Righteous&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Todas as páginas  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    height: 100%;
    background-attachment: fixed;
    background-color: #fff9c8;
    display: grid;
    grid-template-rows: 20vh auto 20vh;
    
}

/*  */

/* Menu de cima (Navbar) */

header {
    background-color: #fff9c8;
    width: 100%; 
}

.topnav li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.topnav img {
    width: 220px;
    height: 55px;
}

.topnav img:hover {
    cursor: pointer;
}

.topnav {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
    border-bottom: solid 2.5px black;
}


.btnLogin {
    background-color: #fff9c8;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 10px;
    border: 2.5px solid black;
    border-radius: 20px;
    transition: 0.2s ease;
    box-shadow: 1px 1.5px 0.5px 1px;
    color: black;


}

.btnLogin:hover {
    color:rgb(192, 38, 182);
    border: 2px solid rgb(192, 38, 182);
    box-shadow: 1px 1.5px 0.5px 1px rgb(192, 38, 182);
}

/* Fim da navbar  */

/* Início da página de index */

.btnCad {
    margin-top: 2rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: orange;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    border: 2px solid black;
    border-radius: 40px;
    transition: 0.2s ease;
    width: 100%;
    box-shadow: 2px 3px 1px 1px black;

}

.btnCad:hover {
    background-color: rgb(192, 38, 182);
    box-shadow: 2px 3px 1px 1px black;
    color:rgb(0, 0, 0);
    cursor: pointer;
}

i {
    margin-right: 5px;
}

.left {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-right: 40px;

}

.subtitulo {
    padding-top: 2rem;
    font-weight: 600;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    text-align: justify;
    width: 100%;
}

.left a {
    transition: 0.5s ease;
}

.left a:hover {
    color:  rgb(192, 38, 182);
}


.textoConteudo {
    display:block;
    padding-left: 50px;
}

.banner {
    display: flex;
}

.colunaEsq, .colunaDir {
    flex-basis: 50%;
}

.colunaDir img {
    width: 370px;
}

.colunaEsq {
    align-self: center;
    align-items: center;
    padding-top: 3rem;
    background-color: transparent;
    padding-left: 7rem;
    width: 100%;
    height: 100%;
}

.colunaDir {
    display: inline-block;
    padding-right: 3rem;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-self: center;
    align-items: center;
    height: 100%;
}


.tituloPagina {
    font-family: "Varela Round", sans-serif;
    font-weight: 900;
    font-size: 4.5rem;
    width: 100%;
    
}

span {
    font-family: "Varela Round", sans-serif;
    font-weight: 800;
    font-size: 4.5rem;   
    color: #f17272;
    
}

span:hover {
    cursor: pointer;
}

/* Fim da página de index */

/* Início do rodapé // Mesmo pra todas as páginas */

.rodape {
    position: fixed;
    bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: solid 2.5px black;;
    width: 100%;
    background-color: #fff9c8;
    display: flex;
    justify-content: space-between;
}

.rodape .logo h4{
    font-family: "Raleway", serif;
    font-weight: 800;
    font-size: 1.5rem;
    margin-left: 2rem;
    
}

.rodape .data {
    margin-top: 1rem;
    margin-right: 2rem;
}

.rodape .logo {
    margin-left: 1rem;
}

.rodape img {
    width: 14%;
    
}

.rodape .logo a {
    margin-left: 2rem;
    text-decoration: none;
    color: rgb(75, 75, 75);
}

.rodape .logo a:hover {
    color: rgb(192, 38, 182);
    transition: 300ms all ease;
}

.rodape .mais {
    margin-top: 1rem;
    margin-right: 2rem;
}

/* Fim do rodapé  */



/* Início da página de sobre  */

.explicacao, .pesquisa, .nos {
    display: flex;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.nos {
    margin-bottom: 5rem;
}

.titulosobre {
    font-family: "Varela Round", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    width: 100%;
    padding-bottom: 2rem;
}

.conteudo {
    padding: 3rem;
}

.txtmissao, .imgMissao {
    width: 100%;
}

.imgMissao img {
    height: 100%;
} 

.txtnos, .imgNos {
    width: 100%;
}

.txtpesquisa, .imgPesquisa{
    width: 100%;
}

.txtmissao h2, .txtnos h2, .txtpesquisa h2{
    font-family: "Varela Round", sans-serif;
    font-weight: 900;
    font-size: 2rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.txtmissao h2 {
    color:#f17272;
}

.txtnos h2 {
    color: #c026b6;
    
}

.txtpesquisa h2 {
    color: #ffa500;
}

.txtmissao p, .txtnos p, .txtpesquisa p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}


.txtnos p {
    margin-bottom: 2rem;
} 

.imgMissao, .imgPesquisa, .imgNos {
    justify-content: center;
    text-align: center;
    align-self: center;
    align-items: center;
}

.imgMissao img, .imgPesquisa img {
    width: 50%;
}

.imgNos img {
    width: 100%;
}

.txtmissao, .txtnos, .txtpesquisa {
    background-color: white;
    border-radius: 30px;
    padding: 2rem;
    border: 2px solid black ;
}

.txtmissao {
    box-shadow: 3px 3px 1px 1px #c026b6;
}

.txtpesquisa {
    box-shadow: 3px 3px 1px 1px #f17272;
}

.txtnos {
    box-shadow: 3px 3px 1px 1px #ffa500;
}

/* Fim da página de sobre  */

