@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Righteous&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    height: 100vh;
    background-color: #f76282;
    background-image: linear-gradient(43deg, #f76282 0%, #f3b020 46%, #c886e7 100%);
}

header {
    background-color: white;
    
}

.topnav li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.topnav img {
    width: 220px;
    height: 55px;
}

.topnav img:hover {
    cursor: pointer;
}

.topnav {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
    border-bottom: solid 2.5px black;
}


.btnLogin {
    background-color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 10px;
    border: 2.5px solid rgb(192, 38, 182);
    border-radius: 20px;
    transition: 0.2s ease;
    box-shadow: 1px 1.5px 0.5px 1px rgb(192, 38, 182);
    color:  rgb(192, 38, 182);


}


.btnCad {
    margin-top: 2rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: transparent;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    border: 2px solid black;
    border-radius: 40px;
    transition: 0.2s ease;
    width: 100%;
    box-shadow: 2px 3px 1px 1px black;

}

.btnCad:hover {
    background-color: rgb(192, 38, 182);
    box-shadow: 2px 3px 1px 1px black;
    color:rgb(0, 0, 0);
    cursor: pointer;
}

i {
    margin-right: 5px;
}

.left {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-right: 40px;

}

.subtitulo {
    padding-top: 2rem;
    font-weight: 600;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    text-align: justify;
    width: 100%;
}

.left a {
    transition: 0.5s ease;
}

.left a:hover {
    color:  rgb(192, 38, 182);
}


.textoConteudo {
    display:block;
    padding-left: 50px;
}

.banner {
    display: flex;
}

.colunaEsq, .colunaDir {
    flex-basis: 50%;
}

.colunaDir img {
    width: auto;
}

.colunaEsq {
    align-self: center;
    align-items: center;
    margin-top: 6rem;
    margin-left: 7rem;
    width: 100%;
    height: 100%;
    
}

.colunaDir {
    display: inline-block;
    padding: 3rem;
    width: 100%;
    
   
    align-self: center;
    align-items: center;
    height: 100%;
}


.tituloPagina {
    font-family: "Raleway", serif;
    font-weight: 800;
    font-size: 4.5rem;
    width: 100%;
    
}

span {
    font-family: "Raleway", serif;
    font-weight: 800;
    font-size: 4.5rem;   
    color: white;
    
}

span:hover {
    cursor: pointer;
}

.rodape {
    left: 0;
    bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: solid 2.5px black;;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    
}

.rodape .logo h4{
    font-family: "Raleway", serif;
    font-weight: 800;
    font-size: 1.5rem;
    margin-left: 2rem;
    
}

.rodape .data {
    margin-right: 2rem;
}

.rodape .logo a {
    margin-left: 2rem;
    text-decoration: none;
    color: rgb(75, 75, 75);
}


.rodape .logo a:hover {
    color: rgb(192, 38, 182);
    transition: 300ms all ease;
}
.rodape .mais {
    margin-top: 1rem;
    margin-right: 5rem;
}

.explicacao, .pesquisa, .nos {
    display: flex;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
   
}

.titulosobre {
    font-family: "Raleway", serif;
    font-weight: 800;
    font-size: 3rem;
    width: 100%;
}

.conteudo {
    padding: 3rem;
}

.txtmissao, .imgMissao {
    width: 100%;
}

.imgMissao img {
    height: 100%;
} 

.txtnos, .imgNos {
    width: 100%;
}

.txtpesquisa, .imgPesquisa{
    width: 100%;
}

.txtmissao h2, .txtnos h2, .txtpesquisa h2{
    font-family: "Raleway", serif;
    font-weight: 800;
    font-size: 2rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.txtmissao p, .txtnos p, .txtpesquisa p {
    font-family: "Varela Round", sans-serif;
    font-weight: 700;
    font-size: 1rem;
}


/**.topnav {
    display: flex;
    justify-content: flex-end;
    background-color: #dc8fd6;
    overflow: hidden;
    margin-top: 0%;
}

#logo-nav {
    font-size: 2rem;
    margin-top: 32px;
    margin-left: 50px;
    margin-bottom: 32px;
}
.topnav a {
    text-decoration: none;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.topnav ul {
    display: flex;
    justify-content: flex-end; 

}
.topnav li {
    float: right;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    list-style: none;
}

.topnav li:hover {
    background-color: #ddd;
    color: black;
    border-radius: 5px;
}
  
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}**/
