/* Importando todas as fontes  */

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Righteous&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Todas as páginas  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    height: 100%;
    background-attachment: fixed;
    background-color: #fff9c8;
}

/*  */

/* Menu de cima (Navbar) */

header {
    background-color: #fff9c8;
    width: 100%; 
}

.topnav li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.topnav img {
    width: 220px;
    height: 55px;
}

.topnav img:hover {
    cursor: pointer;
}

.topnav {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
    border-bottom: solid 2.5px black;
}


.btnLogin {
    background-color: #fff9c8;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 10px;
    border: 2.5px solid black;
    border-radius: 20px;
    transition: 0.2s ease;
    box-shadow: 1px 1.5px 0.5px 1px;
    color: black;


}

.btnLogin:hover {
    color:rgb(192, 38, 182);
    border: 2px solid rgb(192, 38, 182);
    box-shadow: 1px 1.5px 0.5px 1px rgb(192, 38, 182);
}

/* Fim da navbar  */

/* Início da página de index */

.btnCad {
    margin-top: 2rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: orange;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    border: 2px solid black;
    border-radius: 40px;
    transition: 0.2s ease;
    width: 100%;
    box-shadow: 2px 3px 1px 1px black;

}

.btnCad:hover {
    background-color: rgb(192, 38, 182);
    box-shadow: 2px 3px 1px 1px black;
    color:rgb(0, 0, 0);
    cursor: pointer;
}

i {
    margin-right: 5px;
}

.left {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-right: 40px;

}

.subtitulo {
    padding-top: 2rem;
    font-weight: 600;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    text-align: justify;
    width: 100%;
}

.left a {
    transition: 0.5s ease;
}

.left a:hover {
    color:  rgb(192, 38, 182);
}


.textoConteudo {
    display:block;
    padding-left: 50px;
}

.banner {
    display: flex;
    height: 100%;
    padding-top: 6rem;
    padding-bottom: 10rem;
}

.colunaEsq, .colunaDir {
    flex-basis: 50%;
}

.colunaDir img {
    width: 370px;
    position:relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }
    100% {
        top: 30px;
    }
}

.colunaEsq {
    align-self: center;
    align-items: center;
    padding-top: 3rem;
    background-color: transparent;
    padding-left: 7rem;
    width: 100%;
    height: 100%;
}

.colunaDir {
    display: inline-block;
    padding-right: 3rem;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-self: center;
    align-items: center;
    height: 100%;
}


.tituloPagina {
    font-family: "Varela Round", sans-serif;
    font-weight: 900;
    font-size: 4.5rem;
    width: 100%;
    
}

span {
    font-family: "Varela Round", sans-serif;
    font-weight: 800;
    font-size: 4.5rem;   
    color: #f17272;
    
}

span:hover {
    cursor: pointer;
}

.flex {
    display: flex;
}


/* Fim da página de index */

/* Início do rodapé // Mesmo pra todas as páginas */
.rodape {
    padding: 40px 4%;
    border-top: solid 2.5px black;
}

.logo-footer img {
    width: 9rem;
}

.rodape .flex {
    justify-content: space-between;
}

.btn-social button {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: solid 2.5px black;
    background-color: transparent;
    font-size: 28px;
    cursor: pointer;
    margin: 5px 5px;
    transition: .2s;
}

.btn-social button:hover {
    border: solid 2.5px #c026b6;
    color: #c026b6;
}

.borda {
    border-top: 2.5px solid black;
}

.borda-bottom {
    border-bottom: 2.5px solid black;
}

.rodape .line-footer {
    padding: 30px 12px;
}

.rodape .line-footer p i{
    color: black;
    font-size: 22px;
    margin-right: 0.7rem;
    
}

.rodape .line-footer p a{
    color: black;
    font-size: 18px;
}

.rodape .line-footer p a:hover {
    color: #c026b6;
    cursor: pointer;
    transition: 0.2s;
}

/* Fim do rodapé  */



/* Início da página de sobre  */

.explicacao, .pesquisa, .nos {
    display: flex;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

.pesquisa {
    flex-direction: row-reverse;
}

.nos {
    margin-bottom: 5rem;
}

.titulosobre {
    font-family: "Varela Round", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    width: 100%;
    padding-bottom: 2rem;
    text-align: left;
}

.conteudo {
    padding: 3rem;
}



.txtmissao, .imgMissao {
    width: 100%;
}

.imgMissao img {
    height: 100%;
} 

.txtnos, .imgNos {
    width: 100%;
}

.txtpesquisa, .imgPesquisa{
    width: 100%;
}

.txtmissao h2, .txtnos h2, .txtpesquisa h2{
    font-family: "Varela Round", sans-serif;
    font-weight: 900;
    font-size: 2rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.txtmissao h2 {
    color:#f17272;
}

.txtnos h2 {
    color: #c026b6;
    
}

.txtpesquisa h2 {
    color: #ffa500;
}

.txtmissao p, .txtnos p, .txtpesquisa p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}


.txtnos p {
    margin-bottom: 2rem;
} 

.imgMissao, .imgPesquisa, .imgNos {
    justify-content: center;
    text-align: center;
    align-self: center;
    align-items: center;
}

.imgMissao img, .imgPesquisa img {
    width: 50%;
}

.imgNos img {
    width: 100%;
}

.txtmissao, .txtnos, .txtpesquisa {
    background-color: white;
    border-radius: 30px;
    padding: 2rem;
    border: 2px solid black ;
}

.txtmissao {
    text-align: left;
    box-shadow: 3px 3px 1px 1px #c026b6;
}

.txtpesquisa {
    box-shadow: 3px 3px 1px 1px #f17272;
    text-align: left;
}

.txtnos {
    text-align: left;
    box-shadow: 3px 3px 1px 1px #ffa500;
}

/* Fim da página de sobre  */

/* Trabalhando na responsividade da tela inicial */

@media screen and (max-width: 1085px){
    .topnav {
        
        justify-content:center;
    }

    .topnav .btnLogin {
        width: max-content;    
    }

    .topnav img {
        width: 210px;
        height: 45px;
    }
    


    .colunaDir {
        
        text-align: center;
        align-items: center;
        justify-content:left;
       
    }

    .colunaDir img {
        width: 10rem;
        margin: 2rem;

    }

    .colunaEsq {
        width: 100%;
        flex-basis: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .colunaEsq .tituloPagina {
        font-family: "Varela Round", sans-serif;
        font-weight: 900;
        font-size: 3rem;
        width: 100%;
        text-align: left;
        padding: 1rem;
    }

    .colunaEsq .tituloPagina span {
        font-size: 3rem;
    }

    .colunaEsq .subtitulo {
        font-weight: 600;
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        text-align: left;
        padding: 1rem;
    }

    .colunaEsq .btnCad {
        font-size: 20px;
        width: fit-content;
        align-self: center;
    }

    .banner {
        margin: 0;
        padding: 0;
        flex-direction: column-reverse;
        text-align: center;
    }

    .index {
        padding-bottom: 3rem;
    }

    .rodape {
        margin-top: 1rem;
    }

    .rodape .flex {
        flex-direction: column;
        gap: 30px;
    }

    .rodape .line-footer {
        text-align: center;
    }

    .titulosobre {
        padding: 3rem;
    }

    .explicacao, .pesquisa, .nos {
        flex-direction: column;
        gap: 40px;
    
    }

    .imgMissao, .imgPesquisa, .imgNos {
        width: 400px;
        padding-bottom: 2rem;
        padding-top: 3rem;
    }

    .conteudo  {
        padding: 0;
    }

} 