

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Righteous&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    background: rgb(241,114,114);
    background: linear-gradient(45deg, rgba(241,114,114,1) 10%, rgba(255,165,0,1) 40%, rgba(172,104,158,1) 100%);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#0E1111;
    height: 100%;
    background-attachment: fixed;
   
     
}


.bdlog {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 50px;
    background-color: #fffce0;
    border: 2px solid black;
    box-shadow: 2px 3px 0.5px 1px;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    
}

 
    

  

.imgLog {
    
    width: 50%;
    height: 100%;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    
    
    
    
}

.imgLog .lgtitulo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 3rem;
    margin: 2rem;
    
    
}


.imgLog span {
    color: orange;
    font-weight: bold;
}

.lgtitulo span {
    font-weight: 700;
    color: #ac689e;
    
}

.login {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    display: inline-block;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-right: 2px solid black;
    padding: 10px;
}

.login .lgtitulo {
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 3rem;
    margin: 2rem;
    
}

.inputarea {
    display: flex;
    background-color: white;
    width: 100%;
    border-bottom:2px solid #0E1111;
    margin: 0.5rem;
    
}
.inputs {
    padding: 15px;
    display: grid; 
    width: 100%;
    text-align: left;
   
}

.inputs h4 {
    font-weight: 600;
    margin-left: 1rem;
    margin-top: 0.5rem;
    
}

.explicacao {
    font-weight: 600;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
}



.esqueciSenha {
    
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.reenviarLink {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    font-size: 15px;
    font-weight: 600;
    color:rgb(63, 63, 63);
}

input {
    
    
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background: transparent;
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
    border: none;
    border: 0;
    transition: 100ms ease all;
    color:black;
    width: 100%;
    
}

input:focus {
    background-color: #fae0f5;
    border: none;
    border: 0;
}


.btnCad {
   
    
    margin: 0.5rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: rgb(228, 228, 228);
    background-color: #0E1111;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    border:0;
    transition: 0.2s ease;
    width: 100%;
    margin-top: 3rem;
    border-radius: 30px;
}

.btnLog {
    margin-top: 2rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: #0E1111;
    background-color: transparent;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    border:0;
    transition: 0.2s ease;
    width: 100%;
    border: 2px solid #0E1111;
    border-radius: 30px;
    box-shadow: 2px 2px 1px 1px;
}

.btnLog:hover {
    background-color: orange;
    color: #0E1111;
    border: 2px solid #0E1111;
    box-shadow: 2px 2px 1px 1px;

}

a:link {
    color:#ff9f21;
    text-decoration:none;
  }
  a:visited {
    color:#ac689e;
    text-decoration:none;
  }
  



.recsenha {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    background-color: #fffce0;
    border: 2px solid black;
    box-shadow: 2px 3px 0.5px 1px;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
}


.imgRecSenha {
    
    width: 50%;
    height: 100%;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    
} 

.imgRecSenha .lgtitulo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 3rem;
    margin: 2rem;
    
    
}


.imgRecSenha span {
    color: orange;
    font-weight: bold;
}

.lgtitulo span {
    font-weight: 700;
    color: #ac689e;
    
}

.recsenha {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    display: inline-block;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-right: 2px solid black;
    padding: 10px;
}
small{
    color:#ff0000;
    text-decoration:none;
}
